[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycairo = "*"
pygobject = "*"
formiko = "*"
py-cpuinfo = "*"
psutil = "*"
gputil = "*"
requests = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.8"
